# Dependencias
node_modules/
.pnpm-store/

# Archivos de build
dist/
build/
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Cache
.cache/
*.cache